altgraph==0.17
aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
Werkzeug==1.0.1
simplejson==3.16.0
Flask-BabelEx==0.9.4
Flask-Security-Too==3.4.5
pexpect==4.8.0
xmltodict==0.12.0
paramiko==2.7.2
scp==0.13.3
